card[data-template="role"] {
  [data-prop="title"] {
    width: 100%;
    height: 1.6em;
    line-height: 1.6em;
    top: .4em;
    left: 0;
    text-align: center;
  }
  
  [data-prop="line"] {
    top: 2em;
    height: 0;
    width: 100%;
    color: transparent;
    border: 1px solid currentColor;
    transform: translateY(-50%);
  }
  [data-prop="logo"] {
    top: 2em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #000;
    background-color: #fff;
    box-sizing: border-box;
  }
  [data-prop="logo"][data-alt="box"] {
    border-radius: 0;
  }
  [data-prop="logo"][data-alt="image"] {
    width: 50%;
    height: 8em;
    background-color: transparent;
    border: 0;
  }
  [data-prop="logo"][data-alt="hidden"] {
    display: none;
  }

  [data-prop="background"],
  [data-prop="foreground"],
  [data-prop="image"] {
    top: 2em;
    height: 7em;
    width: 100%;
    z-index: 0;
    /* */
    background-size: 20%;
    background-position-x: center;
    background-position-y: bottom;
  }

  [data-prop="name"] {
    top: 9em;
    left: 50%;
    width: 200%;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    z-index: 2;
  }
  [data-prop="info"] {
    top: 12.8em;
    padding: .1em 1em;
    font-size: 4em;
    box-sizing: border-box;
    height: 11em;
    width: 100%;
    text-align: justify;
  }
}