card[data-template="role"] front {

  [data-prop="title"] {
    width: 100%;
    height: 8em;
    line-height: 8em;
    top: 2em;
    left: 0;
    text-align: center;
    white-space: pre;
  }
  
  [data-prop="line"] {
    top: 10em;
    height: 0;
    width: 100%;
    color: transparent;
    border: .4em solid currentColor;
    transform: translateY(-50%);
  }
  [data-prop="icon"] {
    top: 10em;
    width: 8em;
    height: 8em;
    line-height: 8em;
    border-radius: 50%;
    text-align: center;
    border: .75em solid #000;
    background-color: #fff;
    box-sizing: border-box;
  }
  [data-prop="icon"][data-alt="box"] {
    border-radius: 0;
  }
  [data-prop="icon"][data-alt="image"] {
    width: 50%;
    height: 40em;
    background-color: transparent;
    border: 0;
  }
  [data-prop="icon"][data-alt="hidden"] {
    display: none;
  }

  [data-prop="background"],
  [data-prop="foreground"],
  [data-prop="image"] {
    top: 10em;
    height: 35em;
    width: 100%;
    z-index: 0;
  }

  [data-prop="name"] {
    top: 45em;
    left: 50%;
    width: 200%;
    height: 6em;
    line-height: 6em;
    text-align: center;
    z-index: 2;
  }
  [data-prop="info"] {
    color: #333;
    box-sizing: border-box;
    height: 50em;
    width: 100%;
    text-align: justify;
    padding: 0.5em 5em;
    top: 51em;
  }
}

card[data-template="role"] back {
  [data-prop="logo"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
  }
  [data-prop="logo"][data-alt="circle"] {
    border-radius: 50%;
    overflow: hidden;
  }
  [data-prop="logo"][data-alt="hidden"] {
    display: none;
  }

  [data-prop="deck"] {
    top: calc(50% + 20em);
    left: 50%;
    line-height: 5em;
    padding: 0 .5em;
    border-radius: .5em;;
    text-align: center;
    z-index: 2;
    font-weight: bold;
  }
}