card[data-template="sticker"] {
  [data-prop="background"] {
    background-color: currentColor;
    width: 100%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;
  };
  [data-prop="background"] > * {
    position: absolute;
  }
  &[data-alt="badge"] [data-prop="background"]:before {
    content: "";
    position: absolute;
    pointer-events: none;
    inset: 0;
    z-index: 1;
    border-radius: 50%;
    opacity: .5;
    box-shadow: 
      inset 2px 2px 4px 2px #fff,
      inset -2px -2px 4px 2px #000;
  }

  [data-prop="peuxpas"] {
    top: 4em;
    left: 50%;
    width: 50%;
    text-align: center;
    color: #000;
    font-family: "Times New Roman";
    font-size: 1em;
    font-weight: bold;
    transform: scaleY(2.2);
  }
  .info {
    top: 14em;
    left: 50%;
    width: 50%;
    text-align: center;
    overflow: visible;
  }
  [data-prop="jai"] {
    font-size: .8em;
    display: inline-block;
    font-family: Amarante;
    transform: scaleY(2.2);
    padding: .8em 1.5em 0 0;
    color: #fff;
  }
  [data-prop="info"] {
    font-size: 1.8em;
    display: block;
    vertical-align: middle;
    font-family: Bangers, cursive;
    margin-top: 3em;
    transform: rotate(-5deg);
    line-height: 4em;
  }
  [data-prop="back"], 
  [data-prop="accessory"],
  [data-prop="img"] {
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .copyright {
    background-color: transparent;
  }
}