#form {
  vertical-align: top;
  width: calc(100% - 72mm);
  padding: 0 0 0 .5em;
  display: inline-block;
  box-sizing: border-box;
  height: calc(100vh - 12em);
  overflow-y: auto;

  fieldset {
    position: relative;
    border: 1px solid #999;
    padding: .3em .5em
  }
/*
  legend {
    background-color: #efefef;
    border-radius: 1em;
    box-shadow: 0 -1px #999;
    transform: translateY(2px);
  }
  fieldset fieldset legend {
    box-shadow: unset;
  }
*/

  .expand {
    display: inline-block;
    width: 1.5em;
    height: 1em;
    vertical-align: middle;
    cursor: pointer;
  }
  .expand:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: #05f;
    border-width: .5em .4em 0;
    margin: .1em 0;
  }
  fieldset[data-collapse] .expand:before {
    transform: rotate(-90deg);
  }

  fieldset[data-collapse] > *{
    display: none;
  }
  fieldset[data-collapse] > legend {
    display: block;
  }


  legend {
    text-transform: capitalize;
    padding: 0 .5em;
  }

  label {
    vertical-align: top;
    padding: 0 .6em .2em;
    vertical-align: middle;
    display: inline-block;
    min-width: 7em;
  }

  label.visibility {
    position: absolute;
    top: -.5em;
    left: -.5em;
    min-width: unset;
    margin: 0;
    padding: 0;
    width: 5em;
    height: 1em;
    transform: translateY(-50%);

    input {
      visibility: hidden;
    }

    span {
      position: absolute;
      border: 1px solid #999;
      background-color: #fff;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
    }
    &:hover span {
      background-color: #ccc;
    }
    input:checked ~ span {
      content: "";
      background-color: #2196F3;

    }
    input:checked ~ span:before {
      content: "";
      position: absolute;
      top: 40%;
      left: 50%;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }

  input,
  select, 
  textarea {
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: .3em  0 .3em .6em;
    width: 100%;
    box-sizing: border-box;
    background-color: #eee;
    border: 0;
    border-radius: 3px;
  }
  input[type="text"]:focus,
  input[type="url"]:focus {
    box-shadow: inset 0 -2px #05f;
    border-radius: 3px 3px 0 0;
    outline: none;
  }
  textarea:focus {
    box-shadow: inset 0 0 0 2px #05f;
    border-radius: 3px 3px 0 0;
    outline: none;
  }
  textarea {
    min-height: 5em;
    width: 100%!important;
  }
  input[type="checkbox"] {
    width: auto;
    float: left;
    margin-right: .5em;
  }
  input[type="range"] {
    padding: 0;
    vertical-align: middle;
  }

  button.reset {
    cursor: pointer;
    padding: 0;
    width: 1.8em;
    height: 2em;
  }

  fieldset fieldset {
    padding-bottom: 0;

    select,
    input {
      width: 7em;
      margin-left: .5em;
      vertical-align: middle;
    }
    input.angle {
      width: 10em;
    }
    input.size {
      width: 15em;
      max-width: 100%;
      box-sizing: border-box;
    }
    label {
      min-width: unset;
      padding: 0 .5em;
      margin-bottom: .3em;
    }
  }

  input[type="color"] {
    padding: 0;
    width: 3em;
    height: 2.2em;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    height: 2em;
  }
  input[type="color"]:focus {
    box-shadow: unset;
  }


  [data-type="image"] {
    input[type="url"] {
      width: calc(100% - 3em);
      vertical-align: middle;
    }
    button {
      position: relative;
      width: 2.2em;
      height: 2em;
      margin-right: .5em;
      vertical-align: middle;
    }
    button.image:before {
      content: "🖼️";
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 1em;
      transform: translate(-50%, -50%);
    }
  }

  [data-type="lineh"] {
    fieldset {
      border: 0;
      padding: 0;
      legend {
        display: none;
      }
    }
  }

  select.alt {
    position: absolute;
    top: -1.2em;
    right: .2em;
    width: unset;
    max-width: 50%;
    padding: 0 0 0 .5em;
    border-radius: 1em;
  }
}

[data-format="medium"] {
  #form {
    width: calc(100% - 74mm);
  }
}
[data-format="large"] {
  #form {
    width: calc(100% - 86mm);
  }
}
[data-format="square"] {
  #form {
    width: calc(100% - 98mm);
  }
}