body {
  font-family: verdana, sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
}

a.icss-github-corner {
  z-index: 1001;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: .5em;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  overflow: hidden;
  background-color: #fff;
  z-index: 1000;
}
header img {
  float: left;
  height: 3em;
  vertical-align: middle;
  margin: 0 .5em;
}
header h1 {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  line-height: 1.9em;
  vertical-align: middle;
}

main {
  width: calc(100vw - 2em);
  box-sizing: border-box;
  margin: 4em auto 0;
  padding: 7.5em 0 0;
  max-width: 80em;
}

#cards {
  position: absolute;
  left: 0;
  top: 4em;
  height: 7em;
  width: 100%;
  background-color: #eee;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 1em;
}
#cards button {
  border: 0;
  font-size: 3em;
  color: #fff;
  background-color: #f00;
  width: 1em;
  line-height:1em;
  border-radius: 50%;
  margin: .5em .2em;
}
#cards i.icss {
  position: absolute;
  top: 0; 
  left: 0;
  margin: .7em .2em .5em .4em;
  color: #05f; 
  cursor: pointer;
}
#cards input[type="range"] {
  position: absolute;
  top: .5em;
  left: 1.5em;
  width: 4.5em;
  z-index: 1;
}

#cards ul {
  position: absolute;
  inset: 0;
  left: 5em;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: .5em;
}

/* Scrollbar */
#cards ul::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
#cards ul::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}
#cards ul::-webkit-scrollbar-thumb {
  background: #07f;
  border-radius: 10px;
}
#cards ul::-webkit-scrollbar-thumb:hover {
  background: #37b; 
}

#cards li {
  position: relative;
  display: inline-block;
  margin: 0 .1em;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  z-index: 0;
  transition: transform .03s;
  white-space: initial;
}
#cards li:hover {
  z-index: 1;
  transform: scale(1.02);
}
#cards li[data-select] {
  box-shadow: 0 0 0px 3px red;
  z-index: 2;
  transform: scale(1.05) /* rotate(-1.5deg) */;
}
#cards li[data-select] card {
  touch-action: none;
}

#cards card {
  font-size: 0.95px;
  touch-action: none;
}
#cards[data-size="1"] card {
  font-size: 1.1px;
}
#cards[data-size="2"] card {
  font-size: 1.2px;
}
#cards[data-size="3"] card {
  font-size: 1.3px;
}
#cards[data-size="4"] card {
  font-size: 1.4px;
}
#cards[data-size="5"] card {
  font-size: 1.5px;
}

#card {
  display: inline-block;
  vertical-align: top;
}
#card button {
  position: relative;
  display: block;
  margin: 1em auto .5em;
  background-color: #f00;
  color: #fff;
  border: 0;
  font-size: 1.1em;
  padding: .5em 1.5em .5em 2.5em;
  border-radius: .3em;
  text-transform: capitalize;
  cursor: pointer;
  min-width: 8.3em;
}
#card button.delete {
  background-color: #500;
  margin: .5em auto ;
}

#card button:before {
  content: "+ ";
  font-size: 1.5em;
  line-height: .9em;
  width: .8em;
  height: .8em;
  text-align: center;
  background-color: #fff;
  color: #f00;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translate(-50%, -50%);
}
#card button.delete:before {
  content: "-";
  line-height: .7em;
  color: #500;
}

#card button.fback {
  padding: .5em 1.5em;
}
#card button.fback:before {
  display: none;
}
#card[data-face="back"] button.fback span.back,
#card button.fback span.front {
  display: none;
}
#card[data-face="back"] button.fback span.front {
  display: block;
}

#card button:hover {
  background-color: #d00;
}
#card button:hover:before {
  color: #d00;
}

footer {

}

[data-role="dialog"].choice .content {
  padding-bottom: 1em;
}
[data-role="dialog"].choice card {
  font-size: .5mm;
  display: inline-block;
  vertical-align: middle;
  margin: 3em 2em;
  background-color: #fff;
  z-index: 0;
  cursor: pointer;
  transition: .05s;
}
[data-role="dialog"].choice card:hover {
  transform: scale(1.1) rotate(-3deg);
  z-index: 1;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.5);
}
[data-role="dialog"].choice .list {
  white-space: nowrap;
  overflow-x: auto;
  padding: 1em;
  margin: -1em 0 0;
}
[data-role="dialog"].choice .dialogInfo {
  height: 2em;
  line-height: 2em;
  background-color: #eee;
  text-align: center;
  margin: 0 -1em;
}
[data-role="dialog"].choice select {
  position: absolute;
  z-index: 1;
  width: 1.6em;
  line-height: 1.6em;
  margin: 0.8em;
  border: 2px solid #999;
  border-radius: 50%;
  right: 0;
  box-shadow: 1px 1px 5px #999;
}

[data-role="dialog"].choice .file {
  position: relative;
  width: 20em;
  max-width: 100%;
  margin: 1em auto 0;
}
[data-role="dialog"].choice .file input[type="file"]{
  padding: 5em 0;
  width: 100%;
}

[data-role="dialog"].choice .file label {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  pointer-events: none;
  border: 8px dashed #ddd;
  text-align: center;
  padding-top: 7em;
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: auto 50%;
  background-repeat: no-repeat;
}
[data-role="dialog"].choice .file[data-drop] label {
  background-color: #eee;
  border-color: #05f;
}

/* Background */
main:before {
  content: "";
  position: fixed;
  top: 8em;
  left: -1em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: red;
  opacity: .2;
  box-shadow: 8vw 20vh 0 -2em green, 5vw 35vh 0 -2.5em yellow;
}
main:after {
  content: "";
  position: fixed;
  bottom: 2em;
  right: -1em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-color: #ff0;
  opacity: .2;
  box-shadow: -10vw -15vh 0 -2em red, -6vw -30vh 0 -2.5em orange, -30vw -2vh 0 -2em cyan;
  z-index: -1;
}
body:before {
  content: "";
  position: fixed;
  bottom: 10%;
  left: -1em;
  width: 8em;
  height: 8em;
  border-radius: 5px;
  background-color: magenta;
  opacity: .2;
  transform: rotate(20deg);
  box-shadow: 8vw -20vh 0 -2em red, 20vw -25vh 0 -2.5em cyan, 35vw -15vh 0 -2em orange;
}
body:after {
  content: "";
  position: fixed;
  top: 10em;
  right: -1em;
  width: 8em;
  height: 8em;
  border-radius: 5px;
  background-color: magenta;
  opacity: .2;
  transform: rotate(20deg);
  box-shadow: 3vw 25vh 0 -2em green, -3vw 15vh 0 -2.5em orange;
  z-index: -1;
}