body {
  font-family: verdana, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: .5em;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
}
header img {
  float: left;
  height: 3em;
  vertical-align: middle;
  margin: 0 .5em;
}
header h1 {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  line-height: 1.9em;
  vertical-align: middle;
}

main {
  width: 100vw;
  box-sizing: border-box;
  margin: 4em auto 0;
  padding: 7.5em 1em 0;
  max-width: 80em;
}
main #cards {
  position: fixed;
  left: 0;
  top: 4em;
  height: 7em;
  width: 100%;
  background-color: #eee;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 1em;
}
main #card {
  display: inline-block;
  vertical-align: top;
}

footer {

}